/* html,
body,
#root {
	padding: 0px !important;
	;
	margin: 0 auto !important;
	;
	min-height: 100vh;
	min-width: 100vw;
	height: 100vh;
	width: 100vw;
} */

/* Base type for any Website */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 13pt;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.MuiTypography-root {
	font-family: inherit !important;
}

.MuiButton-root {
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
	font-weight: bold !important;
	text-transform: none !important;
}

.MuiInputLabel-asterisk {
	display: none;
}

.MuiIconButton-root {
	margin: 0 !important;
}

.MuiFormControlLabel-root {
	margin: 0 !important;
}

.MuiOutlinedInput-root {
	height: 100%
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

/* unvisited link */
a:link {
	/* text-decoration: none; */
	/* color: inherit; */
}

/* visited link */
a:visited {
	/* text-decoration: none;
	color: inherit; */
}

/* mouse over link */
a:hover {
	/* text-decoration: none; */
	/* color: inherit; */
}

/* selected link */
a:active {
	/* text-decoration: none; */
	/* color: inherit; */
}